<!-- mail chimp http://kb.mailchimp.com/article/embed-code-css-reference/  -->

<!-- Begin MailChimp Signup Form -->
link(href="//cdn-images.mailchimp.com/embedcode/slim-081711.css", rel="stylesheet")
style.
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

div#idmc_embed_signup
  form.validate#mc-embedded-subscribe-form(
      action="http://kennygrant.us6.list-manage.com/subscribe/post?u=6b98493cc2e9ddaae1c981401&amp;id=d6c184c4d4",
      method="post",
      name="mc-embedded-subscribe-form",
      target="_blank",
      novalidate) 
    label(for="EMAIL").sr-only Subscribe For New Updates
    input.email#mce-EMAIL(type="email", value="", name="EMAIL", placeholder="Enter email..", required)
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    div(style="position: absolute; left: -5000px;")
      input(type="text", name="b_6b98493cc2e9ddaae1c981401_d6c184c4d4", value="")
    div.clear
      input.button#mc-embedded-subscribe(type="submit", value="Join", name="subscribe")

<!--End mc_embed_signup-->