doctype
html(lang="en")
  head
    != partial("_partials/head")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@shugar348")
    meta(name="twitter:creator" content="@shugar348")
    meta(name="twitter:title" content="#{ page_tagline }")
    meta(name="twitter:description" content="#{ page_intro }")
    meta(name="twitter:image:src" content="")
  body.page-home
    header(aria-role="banner")
      .container
        a.page-title(href="/")!= page_tagline
        p.page-intro!= page_intro
    article(aria-role="main")
      .container
        != yield
    != partial("_partials/footer")